# Eclipse
.classpath
.project
.settings/
public_workspace/

# Maven
log/
target/
.cache
.cache-main
.gradle/

# Mac
.DS_Store
/build/
/bin/
.idea/
.idea/*
scala.ipr
scala.iws
.idea/modules/scala.iml
.idea/modules/scala_main.iml
.idea/modules/scala_test.iml
