# Eclipse
.classpath
.project
.settings/
public_workspace/

# Maven
log/
target/
.cache
.cache-main
.gradle/

# Mac
.DS_Store
/build/
/bin/
.idea/
.idea/*
scala.ipr
scala.iws
.idea/modules/scala.iml
.idea/modules/scala_main.iml
.idea/modules/scala_test.iml
CourseraScala/out/
CourseraScala/week1/example/project/project/
CourseraScala/week1/example/src/main/main1.iml
CourseraScala/week1/example/src/test/test.iml
CourseraScala/week1/recfun/
CourseraScala/week1/toolsSetup/project/project/
CourseraScala/week1/toolsSetup/src/
ScalaForImpatient/build/resources/
ScalaForImpatient/build/tmp/compileScala/
ScalaForImpatient/project/
ScalaForImpatient/src/main/java/
ScalaForImpatient/src/main/resources/
ScalaForImpatient/src/main/scala-2.11/
ScalaForImpatient/src/main/scala/com/nitin/scalaForImpatient/Chapter1_w.scala.sc
ScalaForImpatient/src/test/
project/
